<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="attendance"
      type="SwipeCardDataProcessor.AttendanceSection, SwipeCardDataProcessor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      allowLocation="true"
      allowDefinition="Everywhere"
      />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <attendance>
    <totalHourCalculation mode="FirstCheckInAndLastCheckOut"/>
    <breakTime hours="00.30"/>
    <attendanceMode  use="Lenient">
      <strict fullday="08.00" halfday ="04.00"/>
      <lenient perday="08.00"/>
    </attendanceMode>
  </attendance>

</configuration>